@import "tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Premium Emerald Theme */
  --color-primary-50: #effaf5;
  --color-primary-100: #d9f2e4;
  --color-primary-200: #b7e4cb;
  --color-primary-300: #84d2ab;
  --color-primary-400: #4ebb88;
  --color-primary-500: #28a86d;
  --color-primary-600: #1f8a59;
  --color-primary-700: #1d6d49;
  --color-primary-800: #1b573c;
  --color-primary-900: #184833;
  --color-primary-950: #0b281c;
}
